@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #a11216;
  --brown-color: #261d18;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.after-bg-image-services-gestao-patrimonial-umbrella::after {
  background-image: url("/section-services-gestao-patrimonial-umbrella.png");
}
.after-bg-image-services-assessoria-investimentos-umbrella::after {
  background-image: url("/section-services-assessoria-investimentos-umbrella.png");
}
.after-bg-image-services-curadoria-juridica-umbrella::after {
  background-image: url("/section-services-curadoria-juridica-umbrella.png");
}
.after-bg-image-services-novos-negocios-umbrella::after {
  background-image: url("/section-services-novos-negocios-umbrella.png");
}
